.alpackages/
.packages/

.vscode/.alcache/
.vscode/.history/
.vscode/settings.json

*.app
*.snapshots
*.cache
*.tmp
*.temp
*.log

TestResults/
bin/
obj/

*.user
*.suo
*.rar
.trae/rules/git-commit-message.md
.altestrunner